# Data science project of the group "Ed Edd and Eddy"

# # Relational Database

The first step of our project is the analysis of the data provided in order to understand what it is about, how they have been organized, what is the type of each column, and whether there are null object included in it. For doing so we used the ** DataFrame ** method ** info ** :

In [ ]:
from pandas import read_csv
publications = read_csv("./relational_publication.csv")
publications.info()

# <class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 500 non-null    string
 1   title              500 non-null    string
 2   type               500 non-null    string
 3   publication_year   500 non-null    string
 4   issue              347 non-null    string
 5   volume             443 non-null    string
 6   chapter            22 non-null     string
 7   publication_venue  498 non-null    string
 8   venue_type         498 non-null    string
 9   publisher          498 non-null    string
 10  event              0 non-null      string
dtypes: string(11)

then we used the method ** describe ** to obtain more information about the value of each column.

In [ ]:
publication.describe(include="all")

As a starting point for the implementation of our relational database is the creation of the dataframes starting from the UML model provided, in order to describe all the entities we need. The strategiy that we adopted is to create a table for each class which does not have any sublasse. For this reason we created 6 tables: JournalArticle, BookChapter, ProceedingsPaper, Journal, Book, Proceedings. For each table we defined the primary and foreign key. 


For JournalArticle, BookChapter, ProceedingsPaper we used as primary key the doi, hence it is the unique identifier for each kind of publication.